<form action="/add_incident_unit/[% incident_id %]" method="post">
<table id='add-incident-unit-form' border=0>
<tr><td align="right">UNIT: </td><td><input type="text" name="unit" list="units" /></td></tr>
</table>
<input type="submit" value="Add" />
</form>

<datalist id="units">
  [% FOREACH unit IN units -%]
  <option>[% unit.unit_number %]</option>
  [% END -%]
</datalist>
