

<p>Welcome, [% session.user.name %]</p>

<h2>Manager Contact Info</h2>
[% FOREACH manager IN managers -%]
<p>[% manager.name %] - [% manager.phone %] - [% manager.email %]</p>
[% END -%]

<h2>Board Member Contact Info</h2>
[% FOREACH board_member IN board_members -%]
<p>[% board_member.name %] - [% board_member.phone %] - [% board_member.email %]</p>
[% END -%]
